*{
	margin : 0 ;
	padding : 0;
	box-sizing : border-box;
	
}
body{
	font-family : Arial,sans-serif;
}
.hero{
	display : flex;
	justify-content : space-between;
	height : 100vh;
}
.hero-image img {
  width: 70vw;
  height: 100vh;
  object-fit: cover;
}
.hero-text {
  width: 30vw;
	padding : 40px;
	background-color: #ffffff;
	text-align: center;
}
.hero-text h1{
	font-size : 2rem;
	font-weight : bold;
	margin-bottom : 20px;
}
.hero-text p{
	font-size : 1rem;
	margin-bottom : 30px;
}
.btn {
  padding: 12px 24px;
	background-color: #e60023;
  color: white;
	text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
/*  your css code here. If applicable */
